* {
    font-family: "Roboto","ff-tisa-web-pro","Georgia",Arial,sans-serif !important;
}

.rst-versions, .wy-breadcrumbs li.wy-breadcrumbs-aside, .wy-side-nav-search>div.version, 
div.rtd-pro.wy-menu, .toctree-wrapper.compound {
    display: none !important;
}

.wy-nav-side, .wy-nav-top {
    background-color: #212529 !important;
}

.rst-versions .rst-current-version {
    background-color: #212529 !important;
    margin-top: 0px !important;
}

.wy-side-nav-search {
    background-color: #212529 !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.wy-side-nav-search>div.version {
    display: none !important;
}

.wy-side-nav-search input[type=text] {
    border: none !important;
    border-radius: 3px !important;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #868e96 !important;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption:not(:first-of-type) {
    margin-top: 12px !important;
}

.wy-menu-vertical a {
    color: #fff !important;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
    color: #212529 !important;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a:hover {
    background-color: #fff !important;
}

.wy-nav-content {
    max-width: 100% !important;
}

.wy-nav-content-wrap {
    background-color: #fff !important;
}

.wy-menu-vertical ul li a:hover {
    background-color: #343a40 !important;
}

.wy-menu-vertical li ul li a {
    background-color: #e9ecef !important;
    color: #495057 !important;
}

.wy-menu-vertical li ul li a:hover {
    background-color: #e9ecef !important;
    color: #495057 !important;
}